[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-redis = "*"
python-ldap = "*"
ldappool = "*"
six = "*"
requests = "*"
gunicorn = "*"

[dev-packages]
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-import-order" = "*"

[requires]
python_version = "3.7"
