::-webkit-scrollbar {
    width: 0.75rem;
    max-width: 0.75rem;
    height: 0.75rem;
    max-height: 0.75rem;
}
::-webkit-scrollbar-track{
    background: #fff;
}
::-webkit-scrollbar-thumb{
    background: #cbd7e2;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #cbd7e2;
}
#mapp-nav::-webkit-scrollbar-track{
    background: transparent;
}
#mapp-nav::-webkit-scrollbar-thumb{
    background: #1a242f;
}
#mapp-nav::-webkit-scrollbar-thumb:window-inactive {
    background: #1a242f;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    /* min-width: 320px; */
}
/* .navbar-fixed-top .mapp-pane-header { min-width: 380px; } */

body {
    padding-top: 56px;
}
/*
.btn:focus,
.btn:active {
    outline: none;
} */

.btn-default {
    background: #99b2c7;
    border-color: #99b2c7;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active
{
    background:#89a6be;
    border-color: #89a6be;
}

.mapp-rooms-dropdown {
    max-height: 85vh;
    overflow-x: hidden;
}

.mapp-pane-header {
    border-bottom: 1px solid #99b2c7;
    flex: 0 1 auto;
}

.mapp-pane-body {
    flex: 1 1 auto;
}

.mapp-pane-friends {
    flex: 0 1 auto;
    overflow: scroll;

    max-height: 20vh;

    border-right: 1px solid #99b2c7;
}

/* Needs to be updated in JS as well, find `fadeClasses` */
.tabwrap, .mapp-pane-header > div, .mapp-pane-friends > table {
    opacity: 0;
}

@media (min-width: 992px) {
    .mapp-pane-friends {
        max-height: initial;
    }
}

.mapp-pane-inner {
    flex: 1 1 auto;
}

.tabwrap {
    padding: 50rem;
    display: inline-block;

    /*
        This pattern is downloaded from www.subtlepatterns.com
        If you need more, that's where to get'em.
    */
    background-image: url('/static/img/ecailles.png');
}

.tabwrapwrap {
    width: 100%;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Disable selection so it doesn't snafu the UX */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabwrapwrap .mapp-table {
    width: auto;
    display: block;
    border-top: 1px solid #ecf0f1;
}

table.mapp-table {
    table-layout: fixed;
    text-align: center;
}

table.mapp-table tr {
    border-bottom: 1px solid #ecf0f1;
}

table.mapp-table>tbody>tr>td {
    width: 10em;
    height: 5em;
    padding: 1.2em 1em;
    overflow: hidden;
}

.userat-name {
    font-size: 0.8em;
}

.mapp-table, .mapp-table td, #rotation-indicator {
    transition: transform 0.7s ease-in-out;
}

.mapp-table .blip {
    display: block;
    font-size: 0.9em;
    line-height: 0;
}

.mapp-table .blip .fa-stack {
    font-size: 0.5em;
}

.muted {
    color: #C3D6E6 !important;
}

/* This is used on the about page */
.padder {
    padding: 1em;
}

/* About page */
.container.prose {
    width: 80%;
    padding: 2em 0;
}

/* About page */
.prose p {
    font-size: 1.2em;
    padding: 0.5em 0;
}

/* More for the about page */
code {
    color: #0EA084;
    background-color: #EDF7F5;
}

@media(max-width: 992px){
    /* .container {
        width: 90%;
    } */
}
@media(min-width: 992px){
    /* .container {
        width: 85%;
    } */
    .container.prose {
        width: 880px;
    }
}

#manual-refresh:disabled{
    background: red;
}

.mapp-table p {
    display: block;
    margin: 0;
}

.harrys-fussy-buttons {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
}

#refresh-alert-holder{
    position: fixed;
    bottom: 4em;
    right: 0.5em;
}

@media(min-width: 768px){
    .harrys-fussy-buttons {
        bottom: 2.5em;
        right: 2.5em;
    }

    #refresh-alert-holder {
        right: 2.5em;
    }
}

/* Otherwise dropdown menus aren't large enough */
.dropdown-menu{
    width: 27rem;
}

.form-horizontal{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

#friend-list{
    height: 25vh;
    width: 99%;
}

@media(max-width: 767px){
    .shrinklittle {
        font-size: 0.6em;
    }
    .mobile-dropdown h4,h5{
        color: #fff;
    }
    .mobile-dropdown .btn {
        background-color: rgba(128, 150, 169, 0.53);
    }
}
