::-webkit-scrollbar {
    width: 0.75rem;
    max-width: 0.75rem;
    height: 0.75rem;
    max-height: 0.75rem;
}
::-webkit-scrollbar-track{
    background: #fff;
}
::-webkit-scrollbar-thumb{
    background: #cbd7e2;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #cbd7e2;
}
#mapp-nav::-webkit-scrollbar-track{
    background: transparent;
}
#mapp-nav::-webkit-scrollbar-thumb{
    background: #1a242f;
}
#mapp-nav::-webkit-scrollbar-thumb:window-inactive {
    background: #1a242f;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    min-width: 320px;
}
.navbar-fixed-top .subbar { min-width: 380px; }

body {
    padding-top: 60px;
}

.btn:focus,
.btn:active {
    outline: none;
}

.btn-default {
    background: #99b2c7;
    border-color: #99b2c7;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active
{
    background:#89a6be;
    border-color: #89a6be;
}

.navbar-brand {
    padding-left: 0px;
}

.subbar {
    padding: 30px 0;
    height: 95px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #99b2c7;
    line-height: 2em;
    z-index: 100;
}

.subbar h2 {
    margin: 0;
    display: inline;
    line-height: 1;
}

.tabwrap {
    margin: 50rem;
    display: inline-block;
}

.tabwrapwrap {
    width: 100%;
    overflow: scroll;
    position: fixed;
    top: 155px;
    left: 0;
    right: 0;
    bottom: 0;
    /* Disable selection so it doesn't snafu the UX */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabwrapwrap .table {
    width: auto;
    display: block;
    border-top: 1px solid #ecf0f1;
}

table.table {
    table-layout: fixed;
    text-align: center;
}

table.table tr {
    border-bottom: 1px solid #ecf0f1;
}

table.table>tbody>tr>td {
    width: 10em;
    height: 5em;
    padding: 1.2em 1em;
    overflow: hidden;
}

.userat-name {
    font-size: 0.8em;
}

.table .blip {
    display: block;
    font-size: 0.9em;
    line-height: 0;
}

.table .blip .fa-stack {
    font-size: 0.5em;
}

.muted {
    color: #C3D6E6 !important;
}
.spacer {
    display: inline-block;
    width: 1em;
}
.padder {
    padding: 1em;
}

.container.prose {
    width: 80%;
    padding: 2em 0;
}

.prose p {
    font-size: 1.2em;
    padding: 0.5em 0;
}

code {
    color: #0EA084;
    background-color: #EDF7F5;
}

@media(max-width: 992px){
    .container {
        width: 90%;
    }
}
@media(min-width: 992px){
    .container {
        width: 85%;
    }
    .container.prose {
        width: 880px;
    }
}

#refresh-alert-holder{
    position: fixed;
    bottom: 1em;
    left: 29em;

}
.custom-alert{
    background-color: #2C3E50 !important;
x    border-color: #fff !important;
    font-size: 13px !important;
}
#manual-refresh:disabled{
    background: red;
}

.table p {
    display: block;
    margin: 0;
}

.harrys-fussy-buttons {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
}

.navbar-collapse {
    margin: 0 -30px;
}

.navbar-collapse.collapse {
    max-height: 480px;
}

@media(min-width: 768px){
    .harrys-fussy-buttons {
        bottom: 2.5em;
        right: 2.5em;
    }

    .navbar-collapse {
        margin: 0;
    }
}

.dropdown-menu{
    width: 27em;
    border: 0;
}

.form-horizontal{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

#friend-list{
    height: 25vh;
    width: 99%;
}

@media(max-width: 767px){
    .shrinklittle {
        font-size: 0.6em;
    }

    .spacer {
        width: 0.5em;
    }
    .mobile-dropdown h4,h5{
        color: #fff;
    }
    .mobile-dropdown .btn {
        background-color: rgba(128, 150, 169, 0.53);
    }
}
