<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}The Marauder's App{% endblock %} :: The Marauder's App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2C3E50">

  <link rel="icon" type="image/png" href="{{  url_for('static', filename='img/mapp-icon.png') }}">
  <link rel="apple-touch-icon icon" href="{{  url_for('static', filename='img/mapp-icon.png') }}">
  <link rel="shortcut icon" href="{{  url_for('static', filename='img/mapp-icon.png') }}">
  <link rel="apple-touch-icon icon" href="{{  url_for('static', filename='img/mapp-icon.png') }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="{{  url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{  url_for('static', filename='css/marauders-app.css') }}" rel="stylesheet">
  <link href="{{  url_for('static', filename='css/schtoof.css') }}" rel="stylesheet">
</head>

<body>
  <!--
    For some reason, the execution of the following tag: {{ active_page }}
    causes the active_page to be kept in "cache" and sent down to the nav.html.
  
    Without the inclusion of active_page above the below nav.html will not receive it.
  -->
  {% include 'nav.html' %}

  {% block content %} {% endblock %} {% block scripts %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{  url_for('static', filename='js/custom.js') }}"></script> {% endblock %}
  
</body>

</html>