<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}The Marauder's App{% endblock %} :: The Marauder's App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2C3E50">

  <link rel="icon" type="image/png" href="{{  url_for('static', filename='img/mapp-icon.png') }}">
  <link rel="apple-touch-icon icon" href="{{  url_for('static', filename='img/mapp-icon.png') }}">
  <link rel="shortcut icon" href="{{  url_for('static', filename='img/mapp-icon.png') }}">
  <link rel="apple-touch-icon icon" href="{{  url_for('static', filename='img/mapp-icon.png') }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="{{  url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{  url_for('static', filename='css/mapp.css') }}" rel="stylesheet">
</head>

<body>
  <!--
    For some reason, the execution of the following tag: {{ active_page }}
    causes the active_page to be kept in "cache" and sent down to the nav.html.
    
    Without the inclusion of active_page above the below nav.html will not receive it.
  -->
  {% include 'nav.html' %}

  {% block content %} {% endblock %} {% block scripts %}

  <!-- Cascaders Modal -->
  <div class="modal fade" id="csc-mdl" tabindex="-1" role="dialog" aria-labelledby="csc-mdl-label" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 800px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="csc-mdl-label">Cascaders Online</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h6>What is Cascaders?</h6>
              <p>
                Cascaders is a peer-support programme that started off many many years ago. There used to be a box of teddies left outside the ITO,
                and if you were happy lending someone a hand you could just take a teddy and prop it on top of your lab machine.
              </p>
              <p>
                Hopefully <a target="_blank" href="/static/img/teddy.jpg">these teddies</a> will make a comeback, but for now, why not <em>cascade</em> through mapp?
              </p>
            </div>
            <div class="col-md-6">
              <h6>How does it work?</h6>
              <p>
                Enter a tagline explaining what you're happy to help out with. (Please don't be rude!)<!--- and choose whether you'd like your name to appear-->
              </p>
              <p>
                Then, when you're at a DICE machine, you'll show up on the map!
              </p>
              <p>Taglines can be anything from "inf1/2 courses" or "DICE" to "Machine Learning" or "Python".</p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <ul class="nav nav-tabs" id="csc-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="csc-list-tab" data-toggle="tab" href="#csc-list" role="tab" aria-controls="csc-list" aria-selected="true">List</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="csc-register-tab" data-toggle="tab" href="#csc-register" role="tab" aria-controls="csc-register" aria-selected="false">Register</a>
                </li>
              </ul>
              <div class="tab-content pt-2" id="csc-tab-content">
                <div class="tab-pane fade show active" id="csc-list" role="tabpanel" aria-labelledby="csc-list-tab">...</div>
                <div class="tab-pane fade" id="csc-register" role="tabpanel" aria-labelledby="csc-register-tab">
                  <form method="POST" class="w-100" id="csc-form">
                    <div class="form-group">
                      <label for="csc-tagline">Tagline</label>
                      <input type="text" class="form-control" id="csc-tagline" placeholder="Enter tagline">
                    </div>

                    <!-- <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="csc-showname">
                      <label class="form-check-label" for="csc-showname">Show name publicly, to everyone with a DICE account</label>
                    </div> -->

                    <div class="form-row align-items-center">
                      <div class="col">
                        <button type="button" class="btn btn-block btn-primary" id="csc-save">Just Save Tagline</button>
                      </div>
                      <div class="col">
                        <button type="button" class="btn btn-block btn-secondary" id="csc-toggle">Start</button>
                      </div>
                      <small class="ml-2">Your status will be reflected on the next update.</small>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Friends Modal -->
  <div class="modal fade" id="friendsModal" tabindex="-1" role="dialog" aria-labelledby="friendsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="friendsModalLabel">Manage Friends</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div id="del-form-container">
              <form method="POST" class="w-100" id="del-form">
                <input type="hidden" name="type" value="del">
                <p id="select-error-alert" class="text-danger hidden" style="opacity: 0.8;"></p>
                <div class="form-group">
                  <select multiple class="form-control" name="delfriends" id="friend-list">
                  </select>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-block btn-primary" id="remove-btn">
                    Remove Friend(s)</button>
                  </div>
                </form>
                <h5 id="no-friends" class="hidden">Looks like you don't have any friends!</h5>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <form method="POST" class="w-100" id="add-form">
              <input type="hidden" name="type" value="add">
              <div class="form-group form-row">
                <div class="col-auto" style="flex: 1 1 auto;">
                  <input type="text" name="newfriend" id="search-friend-input" class="form-control" placeholder="Search (uun or name)">
                </div>
                <div class="col-auto" style="flex: 0 1 auto;">
                  <button type="submit" class="btn btn-block btn-primary" id="search-btn">
                    Search
                  </button>
                </div>
              </div>
              <div class="form-group">
                <select size=4 class="form-control" id="search-friend-list">
                </select>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-block" id="add-btn">Add Friend</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/date_fns-v1.9.0.min.js') }}"></script>
    <script type="text/javascript" src="{{  url_for('static', filename='js/mapp.js') }}?20180422-2237"></script> {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110956746-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110956746-2');
    </script>
  </body>

</html>
