{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div id="ajax-map-replace">
  <div class="subbar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 shrinklittle">
        <h2>
          <span id="maintitle" class="">{{ room.name }}</span>
        </h2>
        <span class="spacer"></span>
         <h2>
            <span class=
                  {% if low_availability %}
                  "text-warning"
                  {% else %}
                  "text-success"
                  {% endif %}>
              {{ num_free }}</span>
            <span class="muted">/ {{ num_machines }}</span>
          </h2>
          <span class="muted hidden" style="font-size: 1em;"> Available</span>
          <a style="margin-left: 10px; font-size: 1em;" href="/#help">What do the icons mean?</a>
          {% if last_update %}
          <span class="pull-right muted small hidden-xs"
                style="line-height: 32px; vertical-align: middle;"
                title="Last update performed at {{ last_update }}">
            <i class="fa fa-clock-o"></i> {{ last_update }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="tabwrapwrap" style="font-size: 1em" id="mapscroll">
    <div class="tabwrap">
      <table class="table">
        {% for row in rows %}
        <tr>
          {% for cell in row %}
          <td>
            {% if cell.hostname %}
            {% if cell.user %}
            
            {% if not current_user.is_anonymous and current_user.has_friend(cell.user) %}
	    <div title="This machine is in use by your friend!">
            <p class="text-info blip">
              {% if cell.hostname == 'ceilingcat' %}
              <i class="fa fa-paw"></i>
              {% else %}
              <i class="fa fa-hand-peace-o"></i>
              {% endif %}
            </p>
            <p>{{ cell.hostname }}</p>
            <p class="userat-name text-info">{{ current_user.get_friend(cell.user) }}</p>
            </div>
            {% elif cell.friend %}{# Insecure way to pass a friend over, not reccomended (demo) #}
            <div title="This machine is in use by your friend!">
            <p class="text-info blip">
              <i class="fa fa-hand-peace-o"></i>
            </p>
            <p>{{ cell.hostname }}</p>
            <p class="userat-name text-info">{{ cell.friend }}</p>
	    </div>

            {% else %}{# User doesn't have this person as friend #}
            <div title="This machine is in use.">
            <p class="blip muted">
              <i class="fa fa-television"></i>
            </p>
            <p class="muted">{{ cell.hostname }}</p>
            </div>
            
            {% endif %}
            {% else %}{# These are the free machines #}


            {% if cell.status == "offline" %}{# Display reserved machines as available but amber #}

            <div title="This machine is offline.">
              <p class="text-danger blip">
                <i class="fa fa-television"></i>
              </p>
              <p>{{ cell.hostname }}</p>
            </div>
            
            {% else %}
            
            <p class="text-success blip">
              <i class="fa fa-television"></i>
            </p>
            <p>{{ cell.hostname }}</p>

            {% endif %}{# end reserved check #}
            
            {% endif %}{# cell.user or cell.hostname in reserved #}
            {% endif %}{# if cell.hostname #}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
<!-- #ajax-map-replace -->
</div>
<div class="harrys-fussy-buttons">
  <div class="btn-group" role="group" aria-label="Filter and map controls">
    <button type="button" class="btn btn-primary btn-sm" title="Hide active computers"
       id="manual-refresh">
      <i class="fa fa-refresh"></i>
      <span class="hidden-xs spacer" style="width: 0.5em;"></span>
      <span class="hidden-xs">Refresh</span>
      <span class="hidden-xs spacer" style="width: 0.5em;"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm" title="Reset the map"
       id="center-map">
      <i class="fa fa-crosshairs"></i>
    </button>
    <button type="button" class="btn btn-default btn-sm" title="Zoom Out"
       id="zoom-out">
      <i class="fa fa-minus" style="font-size: 0.9em;"></i>
    </button>
    <button type="button" class="btn btn-default btn-sm" title="Zoom In"
       id="zoom-in">
      <i class="fa fa-plus" style="font-size: 0.9em;"></i>
    </button>
  </div>
</div>
<div id="refresh-alert-holder"></div>

{% endblock %}
