{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ room.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                {% for row in rows %}
                    <tr>
                        {% for cell in row %}
                            <td>
                                {% if cell.hostname %}
                                    <p>{{ cell.hostname }}</p>
                                    {% if cell.user %}
                                        <p class="text-{% if current_user.has_friend(cell.user) %}info{% else %}danger{% endif %}">{% if current_user.has_friend(cell.user) %}{{ cell.user }}{% else %}Unavailable{% endif %}</p>
                                    {% else %}
                                        <p class="text-success">Available</p>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
<form id="checkout" method="post" action="/checkout">
  <div id="payment-form"></div>
  <input type="submit" value="Pay $10">
</form>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var clientToken = "***REMOVED***=";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>


