{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="subbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 shrinklittle">
        <h2>
          <span id="maintitle" class="">{{ room.name }}</span>
        </h2>
        <span class="spacer"></span>
        <h2>
          <span class="text-success">{{ num_free }}</span>
          <span class="muted">/ {{ num_machines }}</span>
        </h2>
        <span class="muted hidden" style="font-size: 1em;"> Available</span>
      </div>
    </div>
  </div>
</div>

<div class="tabwrapwrap" style="font-size: 1em" id="mapscroll">
  <div class="tabwrap">
    <table class="table">
      {% for row in rows %}
      <tr>
        {% for cell in row %}
        <td>
          {% if cell.hostname %}
          {% if cell.user or cell.hostname in reserved %}
          
          {% if current_user.has_friend(cell.user) %}
          
          <p class="text-info blip">
            <i class="fa fa-hand-peace-o" title="EYYYyyyyyyyYYYyYYyy"></i>
          </p>
          <p>{{ cell.hostname }}</p>
          <p class="userat-name text-info">{{ current_user.get_friend(cell.user) }}<p>
            
            {% else %}{# User doesn't have this person as friend #}
            
          <p class="blip muted">
            <i class="fa fa-television"></i>
          </p>
          <p class="muted">{{ cell.hostname }}</p>
          
          {% endif %}
          {% else %}{# These are the free machines #}
          
          <p class="text-success blip">
            <i class="fa fa-television"></i>
            <!--span class="fa-stack">
                <i class="fa fa-television fa-stack-2x"></i>
                <i class="fa fa-check-square fa-stack-2x"></i>
            </span-->
          </p>
          <p>{{ cell.hostname }}</p>
          
          {% endif %}{# cell.user or cell.hostname in reserved #}
          {% endif %}{# if cell.hostname #}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="harrys-fussy-buttons">
  <div class="btn-group" role="group" aria-label="Filter and map controls">
    <button type="button" class="btn btn-primary btn-sm" title="Hide active computers">
      Available
    </button>
    <button type="button" class="btn btn-primary btn-sm" title="Show only friends">
      Friends
    </button>
    <button type="button" class="btn btn-default btn-sm" title="Re-centre the map"
            onclick="smoothCentreMap();">
      <i class="fa fa-crosshairs"></i>
    </button>
    <button type="button" class="btn btn-default btn-sm" title="Zoom Out"
            onclick="$('#mapscroll').css('font-size','1em');centreMap();">
      <i class="fa fa-minus" style="font-size: 0.9em;"></i>
    </button>
    <button type="button" class="btn btn-default btn-sm" title="Zoom In"
            onclick="$('#mapscroll').css('font-size','1.5em');centreMap();">
      <i class="fa fa-plus" style="font-size: 0.9em;"></i>
    </button>
  </div>
</div>
{% endblock %}