{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 
                col-md-6 col-md-offset-3
                col-sm-8 col-sm-offset-2">
      <h3 style="text-align: center;">Login</h3>
      <form action method="POST" class="well">
        {% if login_status %}
        <p  style="opacity: 0.6; text-align: center;">
          <span class="text-danger">
            <i class="fa fa-warning"></i>
            <span class="spacer"></span>
            {{ login_status }}
          </span>
        </p>
        {% endif %}
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Tardis LDAP Username" name="username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="form-group">
          <input type="submit"
                 class="btn btn-primary btn-block"
                 value="I Solemnly Swear that I am up to no good...">
        </div>
      </form>

      <div class="well">
        <a href="/demo" class="btn btn-default btn-block">Try a Demo</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<form id="checkout" method="post" action="/checkout">
  <div id="payment-form"></div>
  <input type="submit" value="Pay $10">
</form>
