{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-xs-12">
    <h3 style="text-align: center;">Login</h3>
    <form action method="POST" class="well">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Tardis LDAP Username" name="username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" value="I Solemnly Swear that I am up to no good...">
      </div>
    </form>
  </div>
</div>
{% endblock %}

<form id="checkout" method="post" action="/checkout">
  <div id="payment-form"></div>
  <input type="submit" value="Pay $10">
</form>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var clientToken = "***REMOVED***=";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>
