<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">The Marauder's App</a>
        
        <!-- Button for smaller screens -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if active_page == 'about' %} active {% endif %}">
                    <a class="nav-link" href="/">About {% if active_page == "about" %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% if current_user.is_anonymous %}
                    <a class="nav-link {% if room_key == 'Demo' %} active {% endif %}" href="/demo">Demo</a>
                {% else %}
                <li class="nav-item dropdown mr-1">
                    <a class="nav-link dropdown-toggle {% if active_page == 'site' %} active {% endif %}" href="#" id="roomsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rooms {% if active_page == "site" %}<span class="sr-only">(current)</span>{% endif %}
                    </a>
                    <div class="dropdown-menu mapp-rooms-dropdown" aria-labelledby="roomsDropdown">
                        {% for key, name in rooms_list() %}
                        <a class="dropdown-item {% if room_key == key %} active {% endif %}" href="/site/{{ key }}">{{ name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">    
                    <form class="form-inline my-2 my-lg-0" method="POST" action="/flip_dnd">
                        <input type="hidden" name="next" value="{{ request.url }}">
                            <button class="btn
                            
                            {% if current_user.get_dnd() %}
                            btn-danger
                            {% else %}
                            btn-success
                            {% endif %}
                            
                            my-2 my-sm-0" type="submit">
                            {% if current_user.get_dnd() %}
                            Do not Disturb is ON
                            {% else %}
                            Do not Disturb is OFF
                            {% endif %}
                        </button>
                    </form>
                </li>
                {% endif %}
            </ul>
            <div>
                <ul class="navbar-nav mr-auto">
                    {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log in with DICE</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" title="Mischeif Managed">
                            Logout ({{ current_user.get_name() }}, {{ current_user.get_username() }})
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
