{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <form id="checkout" method="post" action="/checkout" class="form-horizontal">
        <input type="hidden" value="{{ machine }}" name="machine">
        <div id="payment-form"></div>
        <input type="submit" value="Reserve {{ machine }} for £5" class="btn btn-primary btn-block">
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
  $(document).ready(function () {
    var clientToken = "{{ client_token }}";
    braintree.setup(clientToken, "dropin", {
      container: "payment-form"
    });
  });
</script>
{% endblock %}