{% extends "base.html" %}

{% block title %}{{ room_key }}{% endblock %}
{% set active_page = "site" %}

{% block content %}

<div class="container-fluid h-100">
  <div id="mapp-pane" class="d-flex flex-column h-100">
    {% include "mapp-pane.html" %}
  </div>
  
  <div class="harrys-fussy-buttons">
    <i class="text-muted mr-2 fa fa-arrow-up" id="rotation-indicator"></i>
    <div class="btn-group" role="group" aria-label="Filter and map controls">
      <button type="button" class="btn btn-primary btn-sm" title="Refresh" id="manual-refresh">
        <i class="fa fa-refresh"></i>
        <span class="hidden-xs spacer" style="width: 0.5em;"></span>
        <span class="hidden-xs">Refresh</span>
        <span class="hidden-xs spacer" style="width: 0.5em;"></span>
      </button>
      <button type="button" class="btn btn-info btn-sm" title="Rotate" id="rotate-map">
        <span class="hidden-xs spacer" style="width: 0.5em;"></span>
        <span class="hidden-xs">Rotate</span>
        <span class="hidden-xs spacer" style="width: 0.5em;"></span>
      </button>
      <button type="button" class="btn btn-default btn-sm" title="Reset the map" id="center-map">
        <i class="fa fa-crosshairs"></i>
      </button>
      <button type="button" class="btn btn-default btn-sm" title="Zoom Out" id="zoom-out">
        <i class="fa fa-minus" style="font-size: 0.9em;"></i>
      </button>
      <button type="button" class="btn btn-default btn-sm" title="Zoom In" id="zoom-in">
        <i class="fa fa-plus" style="font-size: 0.9em;"></i>
      </button>
    </div>
  </div>

  <div id="refresh-alert-holder"></div>
</div>

{% endblock %}
