{% extends "base.html" %}

{% block title %}{{ room_key }}{% endblock %}
{% set active_page = "site" %}

{% block content %}

<div class="container-fluid h-100">
  <div id="ajax-map-replace" class="d-flex flex-column h-100"></div>

  <div class="harrys-fussy-buttons">
    <div class="btn-group" role="group" aria-label="Filter and map controls">
      <button type="button" class="btn btn-primary btn-sm" title="Hide active computers" id="manual-refresh">
        <i class="fa fa-refresh"></i>
        <span class="hidden-xs spacer" style="width: 0.5em;"></span>
        <span class="hidden-xs">Refresh</span>
        <span class="hidden-xs spacer" style="width: 0.5em;"></span>
      </button>
      <button type="button" class="btn btn-default btn-sm" title="Reset the map" id="center-map">
        <i class="fa fa-crosshairs"></i>
      </button>
      <button type="button" class="btn btn-default btn-sm" title="Zoom Out" id="zoom-out">
        <i class="fa fa-minus" style="font-size: 0.9em;"></i>
      </button>
      <button type="button" class="btn btn-default btn-sm" title="Zoom In" id="zoom-in">
        <i class="fa fa-plus" style="font-size: 0.9em;"></i>
      </button>
    </div>
  </div>
  <div id="refresh-alert-holder"></div>

  <!-- Friends Modal -->
  <div class="modal fade" id="friendsModal" tabindex="-1" role="dialog" aria-labelledby="friendsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="friendsModalLabel">Manage friends</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
                <div id="del-form-container">
                    <form method="POST" class="w-100" id="del-form">
                        <input type="hidden" name="type" value="del">
                        <p id="select-error-alert" class="text-danger hidden" style="opacity: 0.8;"></p>
                        <div class="form-group">
                            <select multiple class="form-control" name="delfriends" id="friend-list">
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary" id="remove-btn">
                                Remove Friend(s)</button>
                            </div>
                    </form>
                    <h5 id="no-friends" class="hidden">Looks like you don't have any friends!</h5>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <form method="POST" class="w-100" id="add-form">
            <input type="hidden" name="type" value="add">
            <p>Enter UUNs here only!</p>
            <div class="form-group">
                <input type="text" name="newfriend" id="new-friend" class="form-control" placeholder="New Friend">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" id="add-btn">Add Friend</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
